body {
  background-color: rgb(27, 25, 44);
  color: rgb(247, 246, 221);
  margin: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(97, 97, 232);
}

ul {
  padding: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#preview {
  border: solid 1px #aaa;
  min-height: 200px;
  min-width: 50%;
  margin-top: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms all;

  &:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, .4);
  }
}

.history-item {
  justify-content: center;

  & button.delete-button {
    background-color: transparent;
    border: none;
    pointer-events: all;

    &:hover {
      text-shadow: 0px 0px 10px rgb(255, 255, 255);
      cursor: hand;
    }
  }
}